
<div class="main-container">
  <h1>Arizona Movement Match</h1>
  <ul>
    <li id="Organizations">
      <%= button_to "All Organizations", organizations_path, class:"Organizations", type:"button", class:"btn btn-outline-light text-dark", :method => :get %></li>
      <% if user_org_signed_in? %>
      <%= link_to "Logout", destroy_user_org_session_path, class:"btn btn-outline-light text-dark", method: :delete %>
      <% else %>
      <li id="Login">
        <%= button_to "Login", new_user_org_session_path, class:"login", type:"button", class:"btn btn-outline-light text-dark" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
