html {
  height: 100%;
  width: 100%;

}

body {
    height: 100%;
    top:0;
    width: 100%;
}
/* Front main-container */

/* Main Container */


.container-fluid {
  background-color: lightgray;
  text-align: center;
  margin: 5%;
  padding: 15px;
  position: relative;
}

.main-container {
  background-color: lightgray;
  text-align: center;
  margin: 20%;
  padding: 15px;
  position: relative;

}

.main-container h1 {
  color: #800000;
  text-shadow:
  -1px -1px 0 #FFD700,
  1px -1px 0 #FFD700,
  -1px 1px 0 #FFD700,
  1px 1px 0 #FFD700;
}

@media only screen and (max-width: 768px) {
  .main-container {
    margin: auto !important;
    width: 768px !important;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    margin: auto !important;
    width: 768px !important;
  }
}

/* Buttons */
ul {
  margin-bottom: 0!important;
}

li, #Login {
  display: inline-block;
  padding-left: 10%;
  padding-right: 8%;
}

li, #Organizations {
  padding-left: 0px;
  padding-right: 16%;
}
/* end buttons */
/* slideshow */

.custom-select:hover {
  cursor: pointer;
}

h1 {
  color: red;
}

/* Home Page Slideshow */

.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}


.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background-image: url("/assets/collageforAZmmatch.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}

.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}

.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

/* end slideshow */
/* end Front main-container */

/* Grid images */
.images,
img{
  max-width: 100%;
  object-fit: contain;
  /* padding: 2%; */
}
/* end grid images */

/* images fade */
.item {
  position: relative;
  z-index: -10;
}

.item
.top1,
.top2,
.top3,
.top4,
.top5 {
	position: absolute;
}

.item .top1 {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}
.item .top2 {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 12s;
	animation-direction: alternate;
}
.item .top3 {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-direction: alternate;
}
.item .top4 {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 18s;
	animation-direction: alternate;
}
.item .top5 {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 23s;
	animation-direction: alternate;
}



@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/* end images fade */

/* grid layout  */
.squares {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: block;
  overflow: hidden;
}

.item,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end grid layout  */

/* breakpoints */
.images {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 10px;
  grid-auto-flow: dense;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 320px){
  .images {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media screen and (min-width: 768px){
  .images {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 992px){
  .images {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }
}

@media only screen and (device-width: 1024px) and (device-height: 1366px){
  .images {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
  }
}
