<<<<<<< HEAD
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
=======
/* Front Survey */

.survey {
  background-color: lightgray;
  text-align: center;
  margin: 20%;
  padding: 15px;
}

@media only screen and (max-width: 800px) {
  .survey {
    margin: auto !important;
    width: 800px;
  }
}
>>>>>>> e8a78154a7098735df2e13a1e43a76d9c75aeefb
