/* Front Survey */

.survey {
  background-color: lightgray;
  text-align: center;
  margin: 20%;
  padding: 15px;
  position: relative;
}

.survey h1 {
  color: #800000;
  text-shadow:
  -1px -1px 0 #FFD700,
  1px -1px 0 #FFD700,
  -1px 1px 0 #FFD700,
  1px 1px 0 #FFD700;
}

ul {
  margin-bottom: 0!important;
}

li, #Login {
  display: inline-block;
  padding-left: 10%;
  padding-right: 8%;
}

li, #Organizations {
  padding-left: 0px;
  padding-right: 16%;
}

@media only screen and (max-width: 800px) {
  .survey {
    margin: auto !important;
    width: 800px;
  }
}

body {
  background-image: url("/assets/homepage_background.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background-image: url("/assets/collageforAZmmatch.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}

.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}

.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
