<div class="container-fluid col-sm-10 col-md-7">

  <h1 class="text-center">Organizations</h1>

  <div class="row">
    <%= render partial: @organizations %>
  </div>

  <br>

  <%= link_to 'Do you host an organization?', new_organization_path %>
  <br>
  <%= link_to 'Back', root_path %>
</div>
