"<%= stylesheet_link_tag "organizations", media: "all", "data-turbolinks-track" => true %>"
<div class="main-container">
  <h1>New Organizations</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Back', organizations_path %>

</div>
